"*.log" 
"*.tmp"
EFHT_Analysis/results/
**/.DS_Store
EFHT_Analysis/plot.ipynb
__pycache__/
EFHT_Analysis/data/SmallWorld-Beta0.7_K13-Rho0.5_D1_W0.5_Pos-G1-64kNodes/
EFHT_Analysis/data/SmallWorld-Beta0.7_K13-Rho0.5_D2_W0.5_Pos-G1-64kNodes/
EFHT_Analysis/data/SmallWorld-Beta0.7_K13-Rho0.5_D3_W0.5_Pos-G1-64kNodes/
EFHT_Analysis/data/SmallWorld-Beta0.7_K13-Rho0.5_D4_W0.5_Pos-G1-64kNodes/
EFHT_Analysis/data/SmallWorld-Beta0.7_K13-Rho0.5_D5_W0.5_Pos-G1-64kNodes/
EFHT_Analysis/data/SmallWorld-Beta0.7_K13-Rho0.5_D1_W0.5_Neg-G1-64kNodes/
EFHT_Analysis/data/SmallWorld-Beta0.7_K13-Rho0.5_D2_W0.5_Neg-G1-64kNodes/
EFHT_Analysis/data/SmallWorld-Beta0.7_K13-Rho0.5_D1_W0.5_Pos-G1-128kNodes/
EFHT_Analysis/data/SmallWorld-Beta0.7_K13-Rho0.5_D2_W0.5_Pos-G1-128kNodes/
EFHT_Analysis/data/SmallWorld-Beta0.7_K13-Rho0.5_D3_W0.5_Pos-G1-128kNodes/
EFHT_Analysis/data/SmallWorld-Beta0.7_K13-Rho0.5_D4_W0.5_Pos-G1-128kNodes/